html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 60pt;
  margin: -19px 0;
  text-align: right;
  color: #777;
}  

hr {
  margin-right: 46px;
}

.sliders {
  margin: 20px 0;
  width: 100%;
}

.slider input {
  display: inline-block;
  width: 70%;
  margin: 19px 0;
}


input[type=range] {
  -webkit-appearance: none;
  height: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
	appearance: none;
	width: 22px;
	height: 22px;
	background-color: #fff;
	border-radius: 2px;
  border: 1px solid #999;
	cursor: ew-resize;
  position:relative;
}

.slider .number {
  float: right;
  display: inline-block;
  margin: 0 21px;
  font-size: 32pt;
}

.red.slider .number { color: #ef2929; }
.green.slider .number { color: #8ae234; }
.blue.slider .number { color: #729fcf; }

.red.slider input { background-color: #ef2929; }
.green.slider input { background-color: #8ae234; }
.blue.slider input { background-color: #729fcf; }

#swatch {
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 50pt;
}
